<!DOCTYPE html>
<html lang="en">


{{ partial "head.html" . }}
<body>
  {{ partial "navbar.html" . }}

  <!-- ################################################################################################### -->
<div class="container py-5 mt-3 ">
    <h1 class="py-3 ">Welcome to OpenDataKerala!</h1>
    <h5 class="fst-italic px-5"> - A community driven open data initiative for Kerala State in India</h5>

  </div>
  {{ partial "banner.html" . }}
</div>

{{ partial "about.html" . }}

<section class="container py-3 mt-2">
    <div class="card w-50 mx-auto">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title text-bg-success p-3">LSG Elections 2025</h5>
            <p class="card-text flex-grow-1">Visualize election results</p>
            <div class="mt-auto">
                <a href="https://opendatakerala.org/LSG2025/" target="_blank" class="btn btn-info me-2 mb-2">Visit Page</a>
                <a href="https://github.com/opendatakerala/LSG2025" target="_blank" class="btn btn-info mb-2">Project Link</a>
            </div>
        </div>
    </div>
</section>

<section class="container py-3 mt-2">
  <a class="anchor-link" href="#projects" aria-label="Link to this section: Projects"></a>
  <h2 id="projects"> Projects
    </h2>
    {{ partial "projects.html" (dict "count" 3) }}

    <div class="d-flex justify-content-center mt-2 mb-3">
      <a href="/project-page/" class="btn btn-outline-primary">All Projects</a>
    </div>
  </section>

<section id="events" class="container py-3">
  <a class="anchor-link" href="#events" aria-label="Link to this section: Events"></a>
  <h2>Events</h2>
  <hr class="border border-dark border-1 opacity-40">

  {{ partial "events.html" (dict "count" 3) }}

  <div class="d-flex justify-content-center mt-2 mb-3">
    <a href="/event-page/" class="btn btn-outline-primary">All Events</a>
  </div>
</section>

<section class="container py-3 mt-2">
  <a class="anchor-link" href="#news" aria-label="Link to this section: News"></a>
  <h2 id="news"> News</h2>
  <hr class="border border-dark border-1 opacity-40">

  {{ partial "news.html" (dict "count" 4) }}

  <div class="d-flex justify-content-center mt-2 mb-3">
    <a href="{{ "/news-page/" | relURL }}" class="btn btn-outline-primary">All News</a>
  </div>
</section>
    <div class="container py-3">
      <a class="anchor-link" href="#community" aria-label="Link to this section: Community"></a>
      <h2 id="community"> Community
        </h2>
        <hr class="border border-dark border-1 opacity-40">
        <p>
          Open Data Kerala is an open community initiative spearheaded by the Sahya Digital Conservation Foundation,
           collaborating with OpenStreetMap Kerala, Wikimedians of Kerala User Group, Swathandra Malayalam Computing, 
           CODD-Keralam, Geominds, Kerala Biodiversity Monitoring Network, and CitizenScience Kerala.
        </p>
    </div>

    {{ partial "contact.html" . }}

    {{partial "footer.html"}}
 </body>

</html>